@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Bebas Neue', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(255, 0, 0), rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7),  rgba(175, 16, 16, 0.7)), url(./images/77.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.side-navbar{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.user div{
    display: none;
}
.user h2{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
}

.star-img{
    width: 20px;
    display: none;
}
 ul{
    list-style: none;
    padding: 0 15px;
 }

 ul li{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }

    i{
        color: white;
    }
 ul li i{
    width: 30px;
    margin-right: 0;
 }

 ul li p{
    white-space: nowrap;
    display: none;
 }

 .side-navbar:hover{
    width: 250px;
 }

 .side-navbar:hover .user div{
    display: block;
 }

 .side-navbar:hover .user{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
 }
 .side-navbar:hover .star-img{
    display: block;
 }

 .side-navbar:hover .user-img{
    margin: 0;
 }

 .side-navbar:hover ul li p{
    display: inline;
 }

 .side-navbar:hover ul li i{
    margin-right: 10px;
 }

 .side-navbar:hover ul li{
    justify-content: flex-start;
 }

 ul li p{
    color: white;
}
